{
  "tabWidth": 2,
  "singleQuote": true,
  "printWidth": 140,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": ["^(@angular)", "", "<THIRD_PARTY_MODULES>", "", "^(primeng)", "", "^(@app)", "", "^[.]"],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
